<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title> DELETE THAT
</head>
<body>
    <hr>  DELETE THAT
    <form method="POST" action="https://localhost:44335/Page/CreateCustomer">
        <p>FirstName<input type="text" id="firstnameid" name="firstnametxt" required></p>
        <p>LastName<input type="text" id="lastnameid" name="lastnametxt" required></p>
        <p>Adress<input type="text" id="adressid" name="adresstxt" required></p>
        <p>PhoneNo<input type="text" id="phonenoid" name="phonenotxt" required></p>
        <p>CreditCard<input type="text" id="creditcardid" name="creditcardtxt" required></p>
        <p>UserName<input type="text" id="usernameid" name="usernametxt" required></p>
        <p>Password<input type="password" id="passwordid" name="passwordtxt" required></p>
        <p>Email<input type="email" id="emailid" name="emailtxt" required></p>
        <button type="submit">SEND</button>
    </form>
</body>
</html>